/*---- Custom Css -------*/
body {
  &.cricDesign {
    color: $darken;
    /*---- Nav Start -------*/
    .ftco-navbar-light {
      .container {
        &:before {
          position: absolute;
          top: 0;
          left: -100%;
          bottom: 0;
          content: "";
          width: 100%;
          background: $darken;
        }
      }
      .navbar-brand {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 30px;
      }
    }
    /*---- Nav End -------*/
    /*---- Footer Start -------*/
    .ftco-footer {
      background-color: $darken;
      padding: 1em 0;
      .ftco-footer-widget {
        h2 {
          margin-bottom: 0;
          font-size: 30px;
        }
      }
      .foo-nav {
        .navbar-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          .nav-link {
            color: $white;
            font-weight: 600;
          }
        }
      }
      .copyright {
        font-size: 12px;
        margin-bottom: 0;
        color: $white;
      }
    }
    /*---- Footer End -------*/
    /*---- Footer Start -------*/
    .leaderboard {
      .table {
        thead {
          th {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 1;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $white;
            &:first-child {
              padding-left: 40px;
            }
            &:nth-child(n + 3) {
              text-align: center;
              width: 200px;
            }
          }
        }
        tbody {
          border-left: solid 1px $lightgray;
          border-right: solid 1px $lightgray;
          tr {
            background: transparent;
            transition: $transition;
            td {
              font-weight: 700;
              text-transform: initial;
              vertical-align: middle;
              &:nth-child(n + 3) {
                text-align: center;
              }
            }
            &:hover {
              box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
      .logo-team {
        align-items: center;
        .logo {
          width: 35px;
          height: 35px;
          border: 2px solid $black;
          margin-right: 15px;
          border-radius: 50%;
          -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
        }
      }
    }
    /*---- Footer End -------*/
    /*---- Button Start -------*/
    .btn {
      &.btn-link {
        color: $darken;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }
    /*---- Button End -------*/
    /*---- Game Report Start -------*/
    .scoreboard {
      &.game-report {
        padding: 1em 1em 0.5em 1em;
        @include border-radius(10px);
        transition: $transition;
        &:hover {
          box-shadow: 0px 15px 24px 0 rgba(35, 41, 49, 0.11);
          border: transparent;
        }
        .divider {
          span {
            padding: 0 10px 10px 10px;
            display: inline-block;
            letter-spacing: 0px;
            font-size: 16px;
            font-weight: 900;
          }
        }
        .vsWd {
          width: 30%;
        }
        .sport-team {
          h3 {
            text-align: center;
            font-size: 40px;
            font-weight: 200;
          }
          .logo {
            width: 70px;
            height: 70px;
            border: 2px solid $black;
          }
          .team-name {
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        .date {
          font-size: 12px;
          font-weight: 600;
          color: $gray;
          p {
            margin: 0;
          }
        }
      }
    }
    /*---- Game Report End -------*/
    /*---- Game Report Start -------*/
    .quickScore {
      position: fixed;
      width: 70px;
      height: 70px;
      background: $white;
      top: 20%;
      right: 1%;
      border: 1px solid $lightgray;
      text-align: center;
      cursor: pointer;
      @include border-radius(50%);
      box-shadow: 0px 15px 24px 0 rgba($darken, 0.11);
      .sport-team {
        display: none;
      }
      h4,
      h3 {
        color: $primary;
        text-align: center;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
      }
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
      }
      span {
        color: $silverchalice;
        font-size: 16px;
      }
      .separator {
        border-right: 1px solid $white;
        width: 1px;
        display: block;
        height: 44px;
      }
      .exclamation {
        background-color: $darken;
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 22px;
        font-family: Georgia, "Times New Roman", Times, serif;
        line-height: 30px;
        font-weight: 600;
        margin: 18.5px 18.5px auto auto;
        @include border-radius(50%);
      }
      &.active {
        width: 300px;
        height: 125px;
        padding-top: 15px;
        background: $darken;
        border: 1px solid $darken;
        @include border-radius(10px);
        box-shadow: 0px 15px 24px 0 rgba($darken, 0.3);
        .exclamation {
          background-color: $white;
          color: $darken;
          // margin: 12px 12px auto auto;
          top: -7px;
          right: -7px;
        }
        .sport-team {
          display: block;
          max-width: 70%;
        }
      }
    }
    /*---- Game Report End -------*/
    /*---- SearchBar Start -------*/
    .searchBar {
      width: 524px;
      height: 44px;
      display: flex;
      align-items: center;
      padding: 0 25px;
      font-weight: 600;
      background-color: $darken;
      @include border-radius(10px);
      input {
        width: 100%;
        background-color: transparent;
        border: 0;
        color: $white;
        text-transform: uppercase;
        &:focus {
          outline: none;
        }
      }
    }
    /*---- SearchBar End -------*/
    /*---- Team Filter Start -------*/
    .team-filter {
      .filter-drop {
        box-shadow: 0px 15px 24px 0 rgba($darken, 0.11);
        background-color: $white;
        @include border-radius(8px);
        padding: 30px;
        h2 {
          color: $primary;
          font-size: 35px;
          font-weight: 600;
          margin-bottom: 0;
          line-height: 48px;
        }
        h3 {
          font-size: 28px;
          color: $silverchalice;
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          outline: 0;
          box-shadow: none;
          border: 0 !important;
          background: $white;
          background-image: none;
        }
        /* Remove IE arrow */
        select::-ms-expand {
          display: none;
        }
        /* Custom Select */
        .select {
          position: relative;
          display: flex;
          width: 20em;
          height: 3em;
          line-height: 3;
          background: $white;
          overflow: hidden;
          border-radius: 0.25em;
        }
        select {
          flex: 1;
          padding: 0 0em;
          color: $primary;
          cursor: pointer;
          font-size: 35px;
          font-weight: 600;
          line-height: 1;
          option {
            font-size: 16px;
            padding: 10px;
          }
        }
        /* Arrow */
        .select::after {
          content: "\e313";
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 1em;
          background: $white;
          cursor: pointer;
          pointer-events: none;
          -webkit-transition: 0.25s all ease;
          -o-transition: 0.25s all ease;
          transition: 0.25s all ease;
        }
        /* Transition */
        .select:hover::after {
          color: #f39c12;
        }
      }
      .nav-tabs {
        width: 100%;
        border: none;
        margin-bottom: 30px;
        .nav-link {
          padding: 0;
          margin: 0.5rem 1rem;
          font-size: 28px;
          line-height: 1;
          font-weight: 600;
          color: $silverchalice;
          border: none;
          border-bottom: 2px solid transparent;
          &.active,
          &:hover {
            color: $darken;
            border-color: $darken;
            border: none;
            border-bottom: 2px solid $darken;
          }
          &:focus {
            border-color: transparent;
          }
        }
      }
      .tab-content {
        width: 100%;
      }
      .player-detail-tab {
        width: 100%;
        padding: 10px 15px;
        font-size: 24px;
        color: $darken;
        font-weight: 700;
        display: flex;
        box-shadow: 0px 5px 8px 0 rgba($darken, 0.06);
        border: solid 1px $lightgray;
        background-color: $white;
        @include border-radius(30px);
      }
    }
    /*---- Team Filter End -------*/
  }
  .align-left {
    text-align: left;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
