$font-primary: 'Nunito Sans',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #232931;
$lightgray: #ebebeb;
$gray: #999999;
$silverchalice: #aaaaaa;


$primary: #ffb400;
$secondary: #6b76ff;

$transition: .3s all ease;
